.results-container {
    background-color: var(--results-bg-color);
    color: var(--results-text-color);
    padding: var(--pad);
    padding-inline: 1.5rem;
    font-size: 1rem;

    h2 {
        color: white;
        margin-block-end: 1rem;
    }

    h3 {
        font-size: 1rem;
        padding-block-start: .8rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        margin-block-end: 1.5rem;
    }

    hr {
        color: var(--line-break-color);
        margin-block-end: 1rem;
    }

    .content-box {
        background-color: var(--repayments-bg-color);
        border-radius: .3rem;
        padding: 1rem;
        margin-top: -12px;
        position: relative;
        z-index: 2;
    }

    .repayment-card {
        position: relative;
        padding-block-start: 1rem;
    }

    .top-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 12px;
        width: 100%;
        background-color: var(--accent-color);
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }

    #monthly-payment {
        font-size: 2.5rem;
        color: var(--accent-color);
    }

    #total-payment {
        font-size: 1.4rem;
        color: white;
        margin-block-start: .5rem;
    }
}

.results-option {
    padding-block-end: .5rem;
}

.empty-results {
    text-align: center;
    height: 100vh;
    
    h3 {
        font-size: 1.6rem;
        margin-block-end: 1rem;
        color: white;
    }

    p {
        line-height: 1.5;
    }
}

.calculated-results {
    display: none;
}