@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}

:root {
    --lime-green: hsl(61, 70%, 52%);
    --error-red: hsl(4, 69%, 50%);

    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%);
    --slate-500: hsl(200, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);
    --slate-1000: hsl(202, 55%, 10%);

    --ff-family: 'Plus Jakarta Sans';
    --fs-paragraph: 1.2rem;
    --fs-main-heading: 1.6rem;
    --fs-sub-heading: 1.4rem;

    --fw-normal: 500;
    --fw-bold: 700;
    
    --accent-color: var(--lime-green);
    --error-color: var(--error-red);
    --results-bg-color: var(--slate-900);
    --repayments-bg-color: var(--slate-1000);
    --border-color: var(--slate-500);
    --symbols-bg-color: var(--slate-100);
    --results-text-color: var(--slate-300);
    --line-break-color: var(--slate-700);

    --pad: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-family);
    font-weight: var(--fw-normal);
    color: var(--slate-900);
    overflow: hidden;
}

p, label, span, button {
    font-size: var(--fs-paragraph);
}

h1 {
    font-size: 1.5rem;
    margin-block-end: .5rem;
}

h2 {
    font-size: var(--fs-main-heading);
}

h3 {
    font-size: var(--fs-sub-heading);
}

main {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

input:focus {
    outline: none;
}

.input-container:has(input:focus) {
    border: 1px solid var(--accent-color);
}
.input-container:has(input:focus) > span {
    background-color: var(--accent-color);
}

label {
    display: block;
    font-size: 1.1rem;
    margin-block-end: .5rem;
}

#clear {
    display: inline-block;
    font-size: 1rem;
    margin-block-end: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.calculate-button {
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
    padding-inline: 2rem;
    border-radius: 2rem;
    width: 100%;
}

.form-container {
    padding: var(--pad);
}

.results-container {
    background-color: var(--results-bg-color);
    color: var(--results-text-color);
    padding: var(--pad);
    height: 100vh;
    font-size: 1rem;
    overflow: hidden;

    h2 {
        color: white;
        margin-block-end: 1rem;
    }

    h3 {
        font-size: 1rem;
        padding-block: 1rem;
    }

    p {
        font-size: 1rem;
        margin-block-end: 1.5rem;
    }

    hr {
        color: var(--line-break-color);
        margin-block-end: 1rem;
    }

    .content-box {
        background-color: var(--repayments-bg-color);
        border-radius: .3rem;
        padding: 1rem;
        margin-top: -12px;
        position: relative;
        z-index: 2;
    }

    .repayment-card {
        position: relative;
        padding-block-start: 1rem;
    }

    .top-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 12px;
        width: 100%;
        background-color: var(--accent-color);
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }

    #monthly-payment {
        font-size: 2.5rem;
        color: var(--accent-color);
    }

    #total-payment {
        font-size: 1.4rem;
        color: white;
    }
}

.input-container {
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    border-radius: .2rem;
    overflow: hidden;
    margin-block-end: 1rem;

    span {
        background-color: var(--symbols-bg-color);
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: var(--fw-normal);
    }

    input {
        flex: 1;
        min-width: 0;
        
    }
    span,
    input {
        padding-block: .5rem;
        padding-inline: .8rem;
        font-size: 16px;
    }
}

.repayment-container,
.interest-container {
    border: 1px solid var(--border-color);
    padding-block-start: .5rem;
    padding-inline: .8rem;
    border-radius: .2rem;
    margin-block-end: 1rem;

    input[type=radio] {
        accent-color: rgb(137, 150, 90);
    }

    label {
        padding-inline-start: 1rem;
        cursor: pointer;
        display: inline-block;
    }
}

.repayment-container:has(input:checked),
.interest-container:has(input:checked) {
    border: 1px solid var(--accent-color);
    background-color: hsl(66, 67%, 91%);
}

@media (min-width: 700px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    main {
        flex-direction: row;
        width: 75%;

        .form-container,
        .results-container {
            width: 50%;
        }
    }
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
  margin: 0; /* Optional: adjust margin as needed */
}